**/*.tfstate
**/*.json
**/*.exe
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

!TestSuite-UdacityTrain-MSDevOps-Data-Validation.postman_collection.json
!TestSuite-UdacityTrain-MSDevOps-Regression.postman_collection.json
!UdacityTrain_MSDevOps_TestSuite_Env.postman_environment.json